*.pyc
*.idx
__pycache__
*~
temp/
example_models/Si/models/GAP/*
!example_models/Si/models/GAP/README
.DS_Store
example_models/Si/GAP-18/*
example_models/Si/models/GAP-18/*
example_models/Si/**/*.mtp
example_models/Si/run_dir/*
example_models/Si/run_dir/**/*
example_models/Si/run_dir/*/
example_models/Si/models/**/*.xml*
example_models/MoS/models/**/*.xml*
example_models/P/models/**/*.xml*
example_models/P/run_dir/*
example_models/P/run_dir/*/
example_models/P/run_dir/**
example_models/P/run_dir/**/*
example_models/MoS/run_dir/**
example_models/MoS/run_dir/*
example_models/MoS/run_dir/*/
example_models/MoS/run_dir/**/*
example_models/SiO2/run_dir/**/*
example_models/SiO2/models/**/*.xml*
